@import './order-statuses.css';
@import './react-datepicker.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply selection:bg-theme-secondary selection:text-white;
}

a,
[type="checkbox"],
[type='text']:focus,
input:where(:not([type])):focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    @apply !outline-none !outline-0 !ring-0;
}